proj.winrt/MyFirstGame.vcxproj
*.tlog
*.exp
*.idb
*.lastbuildstate
*.sdf
*.xml
*.xaml
proj.blackberry/
proj.ios/
Resources/
proj.mac/
proj.android/
proj.linux/
proj.winrt/
proj.wp8/
proj.wp8-xaml/
proj.marmalade/
proj.tizen/
proj.win32/
Classes/Before_SubClass_EnemyHit/
Classes/Before_SubClass_Enemy/
Classes/SubClass_Enemy_Apply1/
Classes/SubClass_Enemy_Apply2_public/
Classes/SubClass_Enemy_Apply2_protected/
